DB_HOST=
APP_URL=
DB_PORT=3306
DB_DATABASE=db_name
DB_USERNAME=db_user
DB_PASSWORD=db_password
MAIL_PASS=
MAIL_PASS=
MAIL_USER=
MAIL_HOST=smtp.example.com
HTTP_PORT=
LOCATIONS_API_BASE_URL="http://mitaa-app.test/api/" 
TIMEZONE="+03:00"
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
BARUA_SECRET_KEY=



